.Rproj.user
.Rhistory
.RData
.Ruserdata
ifetex.sty
ifluatex.sty
ifpdf.sty
iftex.pdf
iftex.sty
iftex.tex
ifvtex.sty
ifxetex.sty
ichps2020-svy.R
ichps2020-svy.do
ichps2020-svy.err
nhanes2.dta
ichps2020-svy.pdx
ichps2020-svy.rout
Rplots.pdf
